* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', Tahoma, sans-serif;
}
a {
	color: #4781a4;
	text-decoration: none;
}
a:hover {
	color: #000;
}
body {
	background: url(../../images/fon_repeat_square.png);
}
header, footer {
	background: url(../../images/fon_repeat_linear.png);
}
header {
	border-bottom: 1px solid #ddd;
	padding: 5px;
}
.logo {
	display: block;
	height: 60px;
	overflow: hidden;
}
.logo .img {
	display: block;
	height: 60px;
	width: 400px;
	background: url('../../images/logo.png') no-repeat;
}
.subtitle {
	display: inline-block;
	bottom: 20px;
	color: #676767;
	font-size: 12px;
	display: inline-block;
	word-wrap: wrap;
	text-transform: uppercase;
}
.banner {
	display: none;
}
footer {
	clear: both;
	border-top: 1px solid #ddd;
	padding: 10px 20px;
}
.wrapper {
	width: auto;
}
.content-wrapper {
	margin: 0 auto;
	width: auto;
}
.navigation {
	border-bottom: 1px solid #e0e3e4;
	position: relative;
}
.preview-list, .next-list {
	display: inline-block;
	height: 36px;
	width: 36px;
	margin: 2px;
	border-radius: 100%;
	padding: 0px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.preview-list {
	background: url('../../images/preview_list.png') no-repeat center;
}
.next-list {
	float: right;
	background: url('../../images/next_list.png') no-repeat center;
}
.preview-list:hover, .next-list:hover {
	display: inline-block;
	height: 36px;
	width: 36px;
	margin: 2px;
	border-radius: 100%;
	padding: 0px;
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}
.clearfix {
	clear: both;
}
.left-sidebar {
	display: inline-block;
	width: 100%;
}
.right-sidebar {
	width: 100%;
}
.view-pnl {
	display: none;
}
.view-pnl a {
	border: 1px solid #ddd;
	border-radius: 3px;
	font-size: 11px;
	padding: 3px 8px 3px 25px;
}
.type-view-btn {
	border: 1px solid #ddd;
	border-radius: 3px;
	font-size: 11px;
	padding: 3px 8px 3px 25px;
}
a#grid-view {
	background: url(../../images/view_grid.png) no-repeat left;
}
a#list-view {
	background: url(../../images/view_list.png) no-repeat left;
}
.content {
	background: #fbfbfb;
	padding-top: 10px;
	min-height: 320px;
	text-align: center;
	background: #fbfbfb;
	padding-top: 15px;
}
.block_home {
}
.btn-home {
}
.block_next {
}
.btn-next {
}
p#copyright {
	display: inline-block;
	font-family: 'Open Sans', Tahoma, sans-serif;
	width: auto;
	color: #484848;
	font-size: 15px;
	font-weight: 700;
}
p#info {
	display: inline-block;
	padding-top: 3px;
	color: #484848;
	font-size: 10px;
	font-weight: 400;
	line-height: 18px;
}
.pagination {
	background: #f3f3f3;
	width: auto;
	border: 1px solid #ddd;
	clear: both;
	font-family: 'Open Sans', Tahoma, sans-serif;
	font-weight: 700;
	color: #000;
	font-size: 13px;
	border-radius: 4px;
	padding: 5px 10px;
}
#link-next-product {
	float: right;
}
#copy {
	display: inline-block;
}
#pay-system {
	display: none;
}
#pay-system a {
}
.registration-form input[type=text].form-component, .registration-form input[type=password].form-component {
	font-size: 14px;
	height: 22px;
	border-radius: 4px;
	border: 1px solid #cdcdcd;
	color: #484848;
}
.registration-form input[type=text].form-component:focus, .registration-form input[type=password].form-component:focus {
	border: 1px solid blue;
}
input[type=submit].form-component, .form-component.btn {
	background: white;
	color: #000;
	font-size: 14px;
	border: 1  solid #fc0;
	border-radius: 4px;
	font-size: 20px;
	padding: 5px;
	height: auto;
}