.main-menu {
	width: auto;
	border-radius: 5px 5px 5px 5px;
	margin: 15px 0 5px 0;
}
.main-menu ul {
	list-style: none;
}
.main-menu ul li {
	background-color: #de360f;
	border-radius: 5px;
	margin: 2px;
	border: 1px solid #fc0;
}
.main-menu a {
	display: block;
	text-decoration: none;
	font-size: 13px;
	font-family: 'Open Sans', Tahoma, sans-serif;
	font-weight: 700;
	color: #fff;
	padding: 15px 15px 15px 14px;
	text-align: center;
}
.main-menu a:hover {
	color: #fc0;
}
.main-menu li:first-child a {
	background: none;
	color: #fc0;
}
.mycart a {
	font-size: 16px;
	padding: 0px;
	display: block;
	font-weight: 700;
	font-family: 'Open Sans', Tahoma, sans-serif;
	color: #111;
	margin: 0;
	height: auto;
}
.mycart a:hover {
	color: #111;
}
.main-menu-cart .mycart {
	border-radius: 5px;
	height: 30px;
	background: #ffcc00 url('../../images/cart.png') no-repeat 8px center;
	border: 1px solid #ff9900;
	color: #111;
	padding: 12px 12px 12px 45px;
}
#title-total-price {
	display: none;
}