.product-pnl {
	border: 1px solid #ddd;
	border-radius: 2px;
	display: inline-block;
	margin: 0 5px 5px 0;
	padding: 0;
	width: 158px;
}
.product-header-pnl {
	background: #f3f3f3;
	border-bottom: 1px solid #ddd;
	color: #111;
	font-size: 13px;
	font-weight: 700;
	margin: 0;
	padding: 5px 10px;
	text-shadow: 1px 1px 1px #fff;
}
.priduct-body-pnl {
	height: 167px;
	padding: 10px;
}
.product-img-pnl {
	background: #fff;
	border: 1px solid #ddd;
	height: 100px;
	padding: 5px;
	position: relative;
	text-align: center;
	width: 124px;
}
.product-img-pnl img {
	display: inline-block;
	height: 92px;
	width: 92px;
}
.product-price {
	background: #de360f;
	bottom: 0;
	color: #FFF;
	display: inline-block;
	font-family: Arial, Helvetica, san-serif;
	font-size: 15px;
	font-weight: 700;
	height: 20px;
	left: 0;
	padding: 2px 5px 0;
	position: absolute;
}
a.product-btn-more, a.product-btn-add {
	border-radius: 3px;
	color: #838383;
	display: inline-block;
	font-family: Arial, Helvetica, san-serif;
	font-size: 9px;
	height: 23px;
	letter-spacing: -1px;
	line-height: 24px;
	margin-top: 10px;
	text-align: center;
	text-shadow: 1px 1px 1px #fff;
}
a.product-btn-add {
	background: url(../../images/buttons/btn_light.png);
	border-bottom-right-radius: 0;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-top-right-radius: 0;
	float: left;
	width: 69px;
}
a.product-btn-add:hover {
	background: url(../../images/buttons/btn_dark.png);
	color: #000;
}
a.product-btn-more {
	background: url(../../images/buttons/btn_dark.png);
	border-bottom-left-radius: 0;
	border-right: 1px solid #ddd;
	border-top-left-radius: 0;
	float: left;
	width: 65px;
}
a.product-btn-more:hover {
	background: url(../../images/buttons/btn_light.png);
	color: #000;
}